body {
  background: url(../imagenes/196199.jpg) no-repeat center center fixed !important;
  background-size: cover;
  background-color: darkgray;
}

@media (max-width: 980px) {
  body {
    background: url(../imagenes/196435.jpg) center center fixed !important;
  }
}

.main-section {
  margin: 0 auto !important;
  margin-top: 5% !important;
  padding: 0 !important;
}

.modal-content {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  background-color: white !important;
  opacity: 0.95;
  padding: 0;
  box-shadow: 0px 0px 3px #848484;
}

.modal-content h1 {
  margin-bottom: 30px;
  font-weight: bolder;
  color: black;
}

::placeholder {
  color: gray !important;
  opacity: 0.45 !important;
}

input,
select,
textarea {
  color: black !important;
  font-size: 18px;
  border-color: gray !important;
}

td {
  color: black !important;
  font-size: 16px !important;
  font-weight: bold;
}

.form-group label {
  font-size: 18px !important;
  font-weight: bold !important;
  color: navy !important;
}

.form-group input {
  height: 40px !important;
}

#Message {
  font-size: 20px;
}
