{% extends '../base.html' %}
{%load static%}
{%block title%} Inventario Software {%endblock%}
{%block insertcss%}
<link rel="stylesheet" href="{% static 'css/usr.css' %}">
{%endblock%}
{%block content%}
<div class="modal-dialog modal-lg text-center">
    <div class="col-12 main-section">
        <div class="modal-content">
            <div class="col-12 user-img">
                <h1>ACTUALIZAR SOFTWARE</h1>
            </div>
            {%if messages%}
            {%for message in messages%}
            <div id="Message" {% if message.tags %} class="{{message.tags}}" {%endif%} role="alert">
                {{message}}
            </div>
            {%endfor%}
            {%endif%}
            <form class="col-12" action="/Software/Actualizar/{{querys.id_software}}/" method="POST">
                {% csrf_token %}
                <div class="form-group row">
                    <label for="" class="col-4 col-form-label">Nombre del Software</label>
                    <div class="col-8">
                        <input type="text" class="form-control" id="codigoactivo" name="nombre_software" maxlength="25"
                            value="{{querys.nombre_software}}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="" class="col-4 col-form-label">Version del Software</label>
                    <div class="col-8">
                        <input type="text" class="form-control" id="codigoactivo" name="version_software"
                            value="{{querys.version_software}}" maxlength="10"
                            onkeypress='return event.charCode >= 46 && event.charCode <= 57'>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="" class="col-4 col-form-label">Licencia de Software</label>
                    <div class="col-8">
                        <select id="sestado" class="form-control" name="licencia_software">
                            {%if querys.licencia_software == "Si" %}
                            <option value="{{querys.licencia_software}}" selected>{{querys.licencia_software}}</option>
                            <option value="No">No</option>
                            {%else%}
                            <option value="{{querys.licencia_software}}" selected>{{querys.licencia_software}}</option>
                            <option value="Si">Si</option>
                            {%endif%}
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="" class="col-4 col-form-label">Tipo de Equipo</label>
                    <div class="col-8">
                        <select id="sestado" class="form-control" name="tipo_equipo_s">
                            {%if querys.tipo_equipo_s == "Pc" %}
                            <option value="Pc" selected>Pc</option>
                            <option value="Laptop">Laptop</option>
                            {%else%}
                            <option value="Pc">Pc</option>
                            <option value="Laptop" selected>Laptop</option>
                            {%endif%}
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="" class="col-4 col-form-label">Codigo del Bien</label>
                    <div class="col-8">
                        <input type="text" class="form-control" value="{{querys.codigo_bien_s}}" name="codigo_bien_s"
                            id="" maxlength="12" onkeypress='return event.charCode >= 46 && event.charCode <= 57'>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="" class="col-4 col-form-label">Sistema Operativo</label>
                    <div class="col-8">
                        <select id="sestado" class="form-control" name="sistema_operativo">
                            {%if querys.sistema_operativo == "Windows 10" %}
                            <option value="Windows 10" selected>Windows 10</option>
                            <option value="Windows 8.1">Windows 8.1</option>
                            <option value="Windows 7">Windows 7</option>
                            <option value="Windows XP">Windows XP</option>
                            {%elif querys.sistema_operativo == "Windows 8.1"%}
                            <option value="Windows 10">Windows 10</option>
                            <option value="Windows 8.1" selected>Windows 8.1</option>
                            <option value="Windows 7">Windows 7</option>
                            <option value="Windows XP">Windows XP</option>
                            {%elif querys.sistema_operativo == "Windows 7"%}
                            <option value="Windows 10">Windows 10</option>
                            <option value="Windows 8.1">Windows 8.1</option>
                            <option value="Windows 7" selected>Windows 7</option>
                            <option value="Windows XP">Windows XP</option>
                            {%else%}
                            <option value="Windows 10">Windows 10</option>
                            <option value="Windows 8.1">Windows 8.1</option>
                            <option value="Windows 7">Windows 7</option>
                            <option value="Windows XP" selected>Windows XP</option>
                            {%endif%}

                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="" class="col-4 col-form-label">Area:</label>
                    <div class="col-8">
                        <select id="sarea" class="form-control" name="">
                            {%for q in queryarea%}
                            {% if area.id_area == q.id_area %}
                            <option value="{{q.id_area}}" selected>{{q.nombre_area}}</option>
                            {%else%}
                            <option value="{{q.id_area}}">{{q.nombre_area}}</option>
                            {% endif %}
                            {%endfor%}
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="" class="col-4 col-form-label">Empleado Final</label>
                    <div class="col-8">
                        <select id="sempleado" class="form-control" name="dni_empleado">
                            <option id="ev" value="{{empleado.dni_empleado}}" selected>{{empleado.nombre_empleado}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="" class="col-4 col-form-label"></label>
                    <div class="col-8">
                        <button type="submit" class="btn btn-primary mb-2"><i class="fas fa-sign-in-alt"></i> Actualizar
                            el Inventario </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{%endblock%}
{%block insertjs%}
<script src="{% static 'js/jqu.js' %}"></script>
{%endblock%}